<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <span class="form-inline my-2 my-lg-0">
      <label class="">Select Currency : &nbsp;&nbsp; </label>
      <select class="form-control mr-sm-2 fetch_product" id="currency_code">
        {% for val in currency %}
          {% set foo = 'bar' %}
          {% set selected = (val.code == 'INR' ) ? 'selected' : '' %}
          <option value="{{val.code ~'|'~ val.symbol}}" {{selected}} > {{val.country}}</option>
        {% endfor %}
      </select>
    </span>

    <span class="form-inline my-2 my-lg-0">
      <label class="">Select Catagory : &nbsp;&nbsp; </label>
      <select class="form-control mr-sm-2 fetch_product" id="product_category">
        <option value="1" selected> Veg</option>
        <option value="2"> Non Veg</option>
      </select>
    </span>

    <span class="form-inline my-2 my-lg-0">
      <label class="">Sort By : &nbsp;&nbsp; </label>
      <select class="form-control mr-sm-2 fetch_product" id="sorting_by">
        <option value="product_name" selected> Product Name</option>
        <option value="product_prize"> Product Price</option>
      </select> &nbsp;&nbsp;
      <select class="form-control mr-sm-2 fetch_product" id="sorting_order">
        <option value="asc" selected> Ascending</option>
        <option value="desc"> Descending</option>
      </select>

    </span>

  </div>
</nav>